html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main.content {
    height: 100vh;
    padding: 0;
}

    main.content nav {
        padding: 15px !important;
        border-radius: 0;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 38%);
        z-index: 9999999;
    }
    main.content .main-body-container {
        overflow: auto;
    }
    main.content footer {
        border-radius: 0 !important;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 38%) !important;
    }

.dataTables_length select.form-select {
    min-width: 70px;
}


.select2-selection {
    height: 40px !important;
    padding: 5px;
    border-radius: 5px !important;
}
    .select2-selection .select2-selection__arrow {
        height: 40px !important;
        top: 0px;
    }

.table tbody tr td {
    vertical-align: middle;
}
mark {
    background: yellow;
    color: black;
    padding: 0 2px;
    border-radius: 3px;
}
.table {
    font-size: 0.9rem;
}
.table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table tr.selected {
    background-color: #d0ebff !important;
}
/* Giới hạn chiều rộng cột Message nhưng vẫn cho xuống dòng */
    .table.table-wrap td, .table.table-wrap th {
        white-space: normal; /* Cho phép xuống dòng */
        word-break: break-word; /* Ngắt từ khi quá dài */
        height: auto; /* Auto co giãn chiều cao */
        text-overflow: ellipsis; /* Hiển thị ... nếu dài quá */
    }

    .table .col-message {
        max-width: 400px; /* Giới hạn chiều rộng cột Message */
    }
#logDetailModalBody pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.menu-open .link-arrow {
    transform: rotate(90deg) !important;
    transition: transform 0.3s ease !important;
}
.collapsed .link-arrow {
    transform: none !important;
    transition: transform 0.3s ease !important;
}