@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="appDialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <span id="dialogIcon" class="me-2"></span>
                <h5 class="modal-title" id="dialogTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body" id="dialogBody">
                <!-- Nội dung sẽ được bind qua JS -->
            </div>

            <!-- Footer -->
            <div class="modal-footer" id="dialogFooter">
                <!-- Nút sẽ được JS render -->
            </div>
        </div>
    </div>
</div>