@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Logs";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    tr.selected {
        background-color: #d0ebff !important;
    }
</style>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Logs</h4>
        <div>
            <button class="btn btn-secondary" onclick="logInstance.fetchData()">🔄 Refresh</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Message</th>
                    <th>Level</th>
                    <th>Date</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Data sẽ được render ở đây -->
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center mt-3" id="pagination">
                <!-- Pagination buttons sẽ được render ở đây -->
            </ul>
        </nav>
    </div>
</div>
<script type="module">
    logInstance.fetchData();
</script>