@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Logs";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
        <h4>Logs</h4>
        <div>
            <button class="btn btn-secondary" onclick="logInstance.refesh()">🔄 Refresh</button>
        </div>
    </div>

    <div id="table-log" class="table-responsive">
        <div class="row mb-3 justify-content-sm-center">
            <div class="col-md-3">
                <input type="date" id="startDate" onchange="logInstance.refesh()" class="form-control" placeholder="Start Date">
            </div>
            <div class="col-md-3">
                <input type="date" id="endDate" onchange="logInstance.refesh()" class="form-control" placeholder="End Date">
            </div>
        </div>
        <!-- Table -->
        <table id="logsTable" class="table table-bordered table-striped table-hover table-wrap" style="width:100%"></table>
    </div>
</div>

<!-- modal show log detail-->
<div class="modal fade" id="logDetailModal" tabindex="-1" aria-labelledby="logDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logDetailModalLabel">Log Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="logDetailModalBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="module">
    logInstance.initTable();
</script>
