@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model ActiveOfficeLife.Common.Models.CategoryModel

<div class="container mt-4">

    <form asp-action="Create" id="form_add_category" method="post" novalidate>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="SeoMetadataId" />
        @* Name *@
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" id="category-name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        @* Slug *@
        <div class="mb-3">
            <label asp-for="Slug" class="form-label"></label>
            <input asp-for="Slug" id="category-slug" class="form-control"/>
        </div>

        @* Description *@
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>

        @* Parent Category *@
        <div class="mb-3">
            <label asp-for="ParentId" class="form-label">Parent Category</label>
            <select asp-for="ParentId" class="form-select" asp-items="ViewBag.ParentCategories" id="ParentCategorySelect">
                <option value="">-- None --</option>
            </select>
            <span asp-validation-for="ParentId" class="text-danger"></span>
        </div>


        @* SEO Metadata *@
        <div class="border p-3 rounded mb-3">
            <h5>SEO Metadata</h5>
            <div class="mb-3">
                <label for="SeoTitle" class="form-label">SEO Title</label>
                <input name="SeoMetadata.Title" id="SeoTitle" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="SeoDescription" class="form-label">SEO Description</label>
                <textarea name="SeoMetadata.Description" id="SeoDescription" class="form-control" rows="2"></textarea>
            </div>

            <div class="mb-3">
                <label for="SeoKeywords" class="form-label">SEO Keywords</label>
                <input name="SeoMetadata.Keywords" id="SeoKeywords" class="form-control" />
            </div>
        </div>
    </form>
</div>
